extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{timestamp}
  p #{signature}
  div#upload_widget_opener

  script(type="text/javascript").
    document.addEventListener(
        "DOMContentLoaded",
        e => {
          $("#upload_widget_opener").cloudinary_upload_widget(
            {
              cloudName: "#{cloudname}",
              apiKey: "#{apikey}",
              cropping: false,
              uploadSignature: "#{signature}",
              uploadSignatureTimestamp: "#{timestamp}",
              sources: [
                    "local",
                    "url",
                    "camera"
              ],
            },
            (error, result) => {
              if (error){
                console.log("error", error);
              } else {
                console.log(result);
              }
            }
          );
        }
      );
    